<!--投稿の部分テンプレート。新規作成画面(new.hrml.erb)と編集画面(edit.html.erb)に利用-->
<h2><%= title %></h2>

<%= form_with model: post do |f| %>
  <div class="row mb-4">
    <!--それぞれのイラスト段階に対して、投稿画像の選択の動的な処理を実行-->
    <%= f.fields_for :illusts do |i| %>
      <div class="col-md-3">
        <div class="form-group illust_image_group card text-center m-1 shadow">
          <div class="card-header p-1 h5"><%= I18n.t("enums.illust.step.#{Illust.steps.keys[illust_step]}") %></div>
          <%= i.file_field :illust_image, accept: "image/jpg, image/jpeg, image/png", class:"img_field_input",  style: 'display:none;', id: "img_field-#{i.index}" %>
          <% if i.object.illust_image.attached? %>
            <%= image_tag i.object.illust_image, fallback: 'no_pictureimage.png', class: "center-block img-thumbnail img-responsive img_prev mx-auto d-block", id: "img_prev-#{i.index}" %>
          <% else %>
            <%= image_tag 'no_pictureimage.png', class: "center-block img-thumbnail img-responsive img_prev mx-auto d-block", id: "img_prev-#{i.index}" %>
          <% end %>
        </div>
        <!--上から順に、イラストの作成段階(illust.step)をhidden_fieldで投入。enumを導入。-->
        <%= i.hidden_field :step, value: Illust.steps.keys[illust_step] %>
        <% illust_step = illust_step + 1 %>
      </div>
    <% end %>
  </div>

  <table class="table table-borderless text-right shadow p-3 rounded">
    <thead>
      <tr>
        <th scope="col" style="width: 20%"></th>
        <th scope="col" style="width: 80%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-nowrap">
          <p>タイトル</p>
        </td>
        <td>
          <div class="form-group">
            <%= f.text_field :title, class: "form-control", required: true%>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-nowrap">
          <p>説明</p>
        </td>
        <td>
          <div class="form-group">
            <%= f.text_area :introduction, class: "form-control" %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-nowrap">
          <p>タグ</p>
        </td>
        <td>
          <div class="form-group">
            <%= f.text_field :name, value: tag_list, class: "form-control"%>
            ※半角スペースで区切ると複数タグ登録できます
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="col text-center">
    <%= f.submit "　投稿する　",class:"btn btn-secondary center-block mb-4 shadow"  %>
  </div>
<% end %>

<!--それぞれの画像に別々にidを振り、個別に処理する-->
<script>
  function changeURL(input) {
    const targetId = $(input).attr('id').replace("img_field-", "")
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(`#img_prev-${targetId}`).attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  var imgCount = $('.img_field_input').length
  for (let i = 0; i < 4; i++) {
    $(document).on('change', `#img_field-${i}`, function() {
      changeURL(this);
    });
  }

  $('.illust_image_group').on('click', (e) => {
    const $target = $(e.target)
    const formGroup = $target.parent()
    const targetId = $target.attr('id').replace("img_prev-", "")
    const eventTarget = $(`#img_field-${targetId}`)
    eventTarget.click()
  })
</script>