<h2>新規投稿</h2>

<%= flash[:notice] %>


<%= form_with model: @post, url: posts_path ,method: :post do |f| %>

  <p>タイトル</p>
  <%= f.text_field :title, required: true%>

  <p>説明</p>
  <%= f.text_area :introduction %>

  <div class = "field">
    <%= f.label"タグ (半角スペースで区切ると複数タグ登録できます)※全角スペースはだめです" %>
    <%= f.text_field :name, class: "form-control"%>
  </div>

  <%= f.fields_for :illusts do |i| %>
    <p>イラスト</p>
    <%= i.file_field :illust_image, accept: "image/png,image/jpg,image/jpeg" %>
    <!--上から順に、イラストの種類(illust.step)をhidden_fieldで投入。enumを導入しております-->
    <%= i.hidden_field :step, value: Illust.steps.keys[@illust_step] %> step:<%= I18n.t("enums.illust.step.#{Illust.steps.keys[@illust_step]}") %>
    <% @illust_step = @illust_step + 1 %>
  <% end %>

  <p><%= f.submit '投稿する',class:"btn btn-success" %></p>
<% end %>
