<div class="container-fluid background_beige py-3">
  <div class="row">
    <div class="mx-auto">
      <%= render "public/users/topbar",user: current_user %>
    </div>
  </div>
</div>

<div class="container-fluid py-2">
  <div class="row mt-4">
    <%= flash[:notice] %>
    <div class="col-2">
      <%= render "public/users/sidebar",user: current_user %>
    </div>
      <div class="col-7 offset-md-1">














      <h2>新規投稿</h2>

      <%= form_with model: @post, url: posts_path ,method: :post do |f| %>

        <!--画像を４枚投稿する部分-->
        <div class="row mb-4">
          <%= f.fields_for :illusts do |i| %>
            <div class="col-3">
              <p>イラスト</p>
              <%#= i.file_field :illust_image, accept: "image/png,image/jpg,image/jpeg" %>
              <div class="form-group illust_image_group">
                <%= i.file_field :illust_image, accept: "image/jpg, image/jpeg, image/png", class:"img_field_imput",  style: 'display:none;', id: "img_field-#{i.index}" %>
                <%# byebug %>
                <% if i.object.illust_image.attached %>
                <%#= i.file_field :illust_image, accept: "image/jpg, image/jpeg, image/png", class:"img_field",  style: 'display:none;' %>
                  <%= image_tag i.object.illust_image, fallback: 'no_pictureimage.png', class: "center-block img-thumbnail img-responsive img_prev mx-auto d-block", id: "img_prev-#{i.index}" %>
                <% else %>
                <%#= i.file_field :illust_image, accept: "image/jpg, image/jpeg, image/png", class:"img_field",  style: 'display:none;' %>
                  <%= image_tag 'no_pictureimage.png', class: "center-block img-thumbnail img-responsive img_prev mx-auto d-block", id: "img_prev-#{i.index}" %>
                <% end %>

              </div>
              <!--上から順に、イラストの種類(illust.step)をhidden_fieldで投入。enumを導入しております-->
              <%= i.hidden_field :step, value: Illust.steps.keys[@illust_step] %> step:<%= I18n.t("enums.illust.step.#{Illust.steps.keys[@illust_step]}") %>
              <% @illust_step = @illust_step + 1 %>
            </div>
          <% end %>
        </div>

        <table class="table table-borderless text-right shadow p-3 rounded">
          <thead>
            <tr>
              <th scope="col" style="width: 20%"></th>
              <th scope="col" style="width: 80%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>タイトル</p>
              </td>
              <td>
                <div class="form-group">
                  <%= f.text_field :title, class: "form-control", required: true%>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <p>説明</p>
              </td>
              <td>
                <div class="form-group">
                  <%= f.text_area :introduction, class: "form-control" %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <p>タグ</p>
              </td>
              <td>
                <div class="form-group">
                  <%= f.text_field :name, class: "form-control"%>
                  ※半角スペースで区切ると複数タグ登録できます
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="col text-center">
          <%= f.submit "　投稿する　",class:"btn btn-secondary center-block mb-4 shadow"  %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  function changeURL(input) {
    const targetId = $(input).attr('id').replace("img_field-", "")
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(`#img_prev-${targetId}`).attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  var imgCount = $('.img_field_imput').length
  for (let i = 0; i < 4; i++) {
    $(document).on('change', `#img_field-${i}`, function() {
      changeURL(this);
    });
  }
  
  $('.illust_image_group').on('click', (e) => {
    const $target = $(e.target)
    const formGroup = $target.parent()
    const targetId = $target.attr('id').replace("img_prev-", "")
    const eventTarget = $(`#img_field-${targetId}`)
    console.log(eventTarget)
    eventTarget.click()
  })
</script>