<div class="container-fluid background_beige py-3">
  <div class="row">
    <div class="mx-auto">
      <%= render "public/users/topbar",user: current_user %>
    </div>
  </div>
</div>

<div class="container-fluid py-2">
  <div class="row mt-4">
    <div class="col-md-3 pb-4">
      <%= render "public/users/sidebar",user: current_user %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="h4"><i class="fas fa-tags"></i><%= @tag.name %> の投稿一覧</div>
      </div>
      <p class="pt-2 m-0">最近のタグ</p>
      <%= render "public/posts/tag_lists",title: "", tags: @tag_list %>
      <div id="pagenate_posts">
        <%= render "index",title: "", posts: @posts %>
      </div
    </div>
  </div>
</div>


