<div class="container-fluid background_beige py-3">
  <div class="row">
    <div class="mx-auto">
      <%= render "public/users/topbar",user: @user %>
    </div>
  </div>
</div>

<div class="container-fluid py-2">
  <%= flash[:notice] %>
  <div class="row mt-4">
    <div class="col-md-3 pb-4">
      <%= render "public/users/sidebar",user: @user %>
    </div>
    <div class="col-md-8">
      <div class="h2 pb-2"><%= @post.title %></div>
      <div class="h5 pb-2">
        <!--改行をviewにて適用させる-->
        <%= safe_join("#{@post.introduction}".split("\n"),tag(:br)) %>
      </div>

      <i class="fas fa-tags"></i>
      <% @post_tags.each do |tag| %>
        <%= link_to tag.name, search_tag_path(tag_id: tag.id) %><%= "(#{tag.posts.count})" %>
      <% end %>

      <% if @post.user == current_user && current_user.present? %>
        <div class="float-right pt-3">
          <%= link_to "投稿を編集する", edit_post_path(params[:id]), method: :get, class:"btn btn-secondary" %>
          <%= link_to "投稿を削除", post_path(@post), method: :delete, class:"btn btn-danger", data: { confirm: "本当に削除しますか？" } %>
        </div>
      <% end %>

    <table class="table table-borderless table-hover">
      <tbody>
        <!--それぞれの段階ごとのイラスト（全４枚）を表示。投稿のない段階については、no_pictureimage.pngを表示-->
        <% @post.illusts.each do |illust| %>
          <tr>
            <th>
              <div class="card text-center m-1 shadow">
                <!--イラストの作成段階-->
                <div class="card-header p-1 h4"><%= I18n.t("enums.illust.step.#{Illust.steps.keys[Illust.steps[illust.step]]}") %></div>
                <% if illust.illust_image.present? %>
                  <p><%= image_tag illust.illust_image ,class: "center-block img-thumbnail img-responsive mx-auto d-block" %></p>
                <% else %>
                  <%= image_tag image_url('no_pictureimage.png'),size:'300x300',class: "center-block img-thumbnail img-responsive mx-auto d-block" %>
                <% end %>
                <div class="card-body d-flex flex-column align-items-center p-0">
                  <% if illust.illust_image.present? && current_user.present? %>
                    <div id="favorite_buttons_<%= illust.id %>" >
                      <%= render "public/favorites/favorites", post: @post, illust: illust %>
                    </div>
                  <% end %>
                </div>
              </div>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!--投稿に対するコメント-->
    <div id="comments_area">
      <%= render "public/post_comments/comment", post: @post, post_comment: @post_comment %>
    </div>

    </div>
  </div>
</div>