<div class="container-fluid background_beige py-3">
  <div class="row">
    <div class="mx-auto">
      <%= render "public/users/topbar",user: current_user %>
    </div>
  </div>
</div>
<div class="container-fluid py-2 background_lightbeige">
  <div class="row mt-4">
    <div class="col-2">
      <%= render "public/users/sidebar",user: current_user %>
    </div>
    <div class="col-8 offset-md-1">
      <div class="h2">検索結果</div>
      <% if @range == "ユーザを検索する" %>
        <%= render "public/users/index",users: @users %>
      <% elsif @range == "投稿を検索する" %>
        <%= render "public/posts/index",title: "",posts: @posts %>
      <% elsif @range == "タグを検索する" %>
        <%= render "public/posts/tag_lists",tags: @tags %>
      <% end %>
    </div>
  </div>
</div>
