<%= flash[:notice] %>

<div class="container-fluid background_beige py-3">
  <div class="row">
    <div class="col-6 offset-md-3 mx-auto">

      <%= image_tag image_url('Oekaki_icon.png'), size: "300x300", class:"rounded-circle shadow d-block mx-auto" %>

      <div class="h2 text-center mt-3">About</div>
      <div class="text-center">
      このサイトはイラスト投稿サイトです。<br>
      突然ですが、ゲームは好きですか？<br>
      このサイトでは、投稿したイラストに<i class="fas fa-heart"></i>いいねがつくと経験値が溜まり<br>
      レベルアップができるんです。<br>
      一回の投稿で下書き・線画・色塗り・完成の４枚投稿できるので<br>
      <i class="fas fa-heart"></i>いいねの数で自分の得意な工程もわかりますよ！
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-4 offset-md-4 shadow">
      <% if !current_user.present? && !current_admin.present? %>
        <table class="table table-borderless p-3 rounded">
          <tbody>
            <tr>
              <p class="text-center pt-4 mb-1">試しに使ってみる</p>
              <div class="p-0"><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm btn-block", method: :post %></div>
            </tr>
            <tr>
              <p class="text-center pt-4 mb-1">新しく始めてみる</p>
              <p><%= link_to '新規登録', new_user_registration_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </tr>
            <tr>
              <p class="text-center pt-5 mb-1">すでにアカウントをお持ちの方</p>
              <p><%= link_to 'ログインする', user_session_path, class: "btn btn-light btn-sm btn-block" %></p>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>