<div class="container-fluid background_beige py-3">
  <div class="row">
    <div class="mx-auto">
      <%= render "admin/users/topbar",user: @user %>
    </div>
  </div>
</div>


<div class="container-fluid py-2">
  <div class="row mt-4">
    <%= flash[:notice] %>
    <% if @post.errors.any? %>
      <p><%= @post.errors.count %>errors prohibited this obj from being saved:</p>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
      <div class="col-8 offset-md-2">
      <%= render "admin/posts/post", title: "投稿編集", post: @post, illust_step: @illust_step, tag_list: @tag_list %>
    </div>
  </div>
</div>