<div class="container-fluid background_beige py-3">
  <div class="row">
    <div class="mx-auto">
      <%= render "admin/users/topbar",user: @user %>
    </div>
  </div>
</div>


<div class="container-fluid py-2">
  <%= flash[:notice] %>
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div class="h2 pb-2"><%= @post.title %></div>
      <% if @post.is_deleted == false %>
        <div class="text-success">有効</div>
      <% else %>
        <div class="text-danger">削除済み</div>
      <% end %>
      <div class="h5 pb-2">
        <!--改行をviewにて適用させる-->
        <%= safe_join("#{@post.introduction}".split("\n"),tag(:br)) %>
      </div>

      <i class="fas fa-tags"></i>
      <% @post_tags.each do |tag| %>
        <%= link_to tag.name, admin_search_tag_path(tag_id: tag.id) %><%= "(#{tag.posts.count})" %>
      <% end %>

      <div class="float-right pt-4">
        <%= link_to "投稿を編集する", edit_admin_post_path(params[:id]), method: :get, class:"btn btn-secondary" %>
      </div>

    <table class="table table-borderless table-hover">
      <tbody>
        <% @post.illusts.each do |illust| %>
          <tr>
            <th>
              <div class="card text-center m-1 shadow">
                <!--イラストの作成段階-->
                <div class="card-header p-1 h4"><%= I18n.t("enums.illust.step.#{Illust.steps.keys[Illust.steps[illust.step]]}") %></div>
                <% if illust.illust_image.present? %>
                  <p><%= image_tag illust.illust_image ,class: "center-block img-thumbnail img-responsive mx-auto d-block" %></p>
                <% else %>
                  <%= image_tag image_url('no_pictureimage'),size:'300x300',class: "center-block img-thumbnail img-responsive mx-auto d-block" %>
                <% end %>
                <div class="card-body d-flex flex-column align-items-center p-0">
                  <% if illust.illust_image.present? %>
                    <div class="h3 text-danger">♥<%= illust.favorites.count %></div>
                  <% end %>
                </div>
              </div>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div id="comments_area">
      <%= render "admin/post_comments/comment", post: @post %>
    </div>

    </div>
  </div>
</div>

