<%= flash[:notice] %>
<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, "ユーザ名" %><br>
    <%= f.text_field :username, required: true %>
  </div>

  <div class="field">
    <%= f.label :handlename, "ハンドル名" %><br>
    <%= f.text_field :handlename, required: true %>
  </div>

  <div class="field
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "新規作成", class:"btn btn-success" %>
  </div>
<% end %>

<%#= render "public/shared/links"  %>
<%= link_to "アカウントをお持ちの方はこちら", user_session_path %>