<div class="container-fluid background_beige py-3">
  <div class="row">
    <div class="mx-auto">
      <%= render "topbar",user: @user %>
    </div>
  </div>
</div>


<div class="container-fluid py-2">
  <%= flash[:notice] %>
  <% if @user.errors.any? %>
    <p><%= @user.errors.count %>errors prohibited this obj from being saved:</p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row mt-4">
    <div class="col-8 offset-md-2">
      <div class="row">
        <div class="col-3 d-flex align-items-center d-block mx-auto">
          <%= image_tag @user.get_profile_image(200,200),class: "mr-3 rounded-circle d-block mx-auto" %>
        </div>

        <div class="col-8">
          <p class="h4"><%= @user.handlename %></p>
          <p>@<%= @user.username %></p>
          <p><i class="fas fa-envelope"></i> <%= @user.email %></p>
          <% if @user.is_deleted == true %>
            <p class="text-danger">退会済み</p>
          <% else %>
            <p class="text-success">有効</p>
          <% end %>
          <p><i class="fas fa-palette"></i> Lv.<%= @user.level %></p>
          <p>下書き<i class="fas fa-heart"></i><%= @draft_favorite_count %>    線画<i class="fas fa-heart"></i><%= @linedraw_favorite_count %>   色塗り<i class="fas fa-heart"></i><%= @color_favorite_count %>    完成<i class="fas fa-heart"></i><%= @finish_favorite_count %></p>
        </div>
      </div>
      <%= render "admin/posts/index",title: "投稿一覧", posts: @posts %>
    </div>
  </div>
</div>







<% @posts.each do |post| %>
  <!--完成から順にイラスト画像を探し、画像を見つけたらそれをピックアップ、探すのをやめる-->
  <% post.illusts.reverse_each do |illust| %>
    <% if illust.illust_image.present? %>
      <%= link_to admin_post_path(illust.post_id) do %>
        <!--リサイズ→真ん中を正方形にくり抜きます-->
        <p><%= image_tag illust.illust_image.variant(resize: "100x100").processed %></p>
      <% end %>
      <!--イラストの画像を探すeach文から抜ける-->
      <% break %>
    <% end %>
  <% end %>
  <i class="fas fa-tags"></i><%= post.tags.map(&:name).join(',') %>
  <span><%= post.title %></span>
<% end %>

<%= paginate @posts %>