<div class="h3"><%= title %></div>

<div class="row justify-content-center">
  <% if favorite_illusts.present? %>
    <% favorite_illusts.each do |illust|%>
      <div class="card text-center m-1 shadow" style="width: 202px;">
        <% if illust.post.is_deleted == false %>
          <%= link_to post_path(illust.post_id) do %>
            <p class="illust_back"><%= image_tag illust.illust_image.variant(gravity: :center, resize:"200x200^", crop:"200x200+0+0").processed %></p>
          <% end %>
        <% end %>
        <%= link_to user_path(illust.post.user) do %>
          <p class="icon_front rounded-circle"><%= image_tag illust.post.user.get_profile_image(100,100),class: "mr-3 rounded-circle d-block mx-auto" %></p>
        <% end %>

        <div class="card-body d-flex flex-column align-items-center mt-3 pb-0">
          <%= link_to post_path(illust.post) do %>
            <span><%= illust.post.title.truncate(11) %></span>
          <% end %>
          <div class="m-0">
            <i class="fas fa-tags"></i>
            <% illust.post.tags.first(1).each do |tag| %>
              <%= link_to tag.name.truncate(8), search_tag_path(tag_id: tag.id) %>
              <%="(#{tag.posts.where(is_deleted: false).count})" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>イラストはありません</p>
  <% end %>
</div>
<div class="row d-flex flex-column align-items-center mt-3">
  <ul class="pagination">
    <%= paginate favorite_illusts, theme: 'twitter-bootstrap-4' %>
  </ul>
</div>
