<%= flash[:notice] %>
<% if @user.errors.any? %>
  <p><%= @user.errors.count %>errors prohibited this obj from being saved:</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="h2">会員情報編集画面です</div>

<%= render "topbar",user: @user %>
<%= render "sidebar",user: @user %>

<%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
  <p>アイコン画像</p>

  <%= f.file_field :profile_image, accept: "image/jpg, image/jpeg, image/png" %>

  <p>メールアドレス</p>
  <%= f.email_field :email, size:"40", required: true %>

  <p>ユーザ名</p>
  <%= f.text_field :username, size:"40", required: true %>

  <p>ハンドルネーム</p>
  <%= f.text_field :handlename,size:"40", required: true %>

  <p>パスワード</p>
  <%#= f.text_field :encrypted_password, size:"40" %>

  <div class="col text-center">
    <%= f.submit "　変更を保存　",class:"btn btn-success center-block"  %>
  </div>
<% end %>