<%= flash[:notice] %>
<% if @user.errors.any? %>
  <p><%= @user.errors.count %>errors prohibited this obj from being saved:</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="h2">マイページです</div>

<%= render "topbar",user: @user %>
<%= render "sidebar",user: @user %>


<%= image_tag @user.get_profile_image(100,100) %>

<p>ユーザ名：<%= @user.username %></p>
<p>ハンドルネーム：<%= @user.handlename %></p>
<p>メールアドレス：<%= @user.email %></p>
<p>レベル：<%= @user.level %></p>
