<%= flash[:notice] %>
<% if @user.errors.any? %>
  <p><%= @user.errors.count %>errors prohibited this obj from being saved:</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="h2">マイページです</div>

<%= render "topbar",user: @user %>
<%= render "sidebar",user: @user %>


<%= image_tag @user.get_profile_image(100,100) %>

<p>ユーザ名：<%= @user.username %></p>
<p>ハンドルネーム：<%= @user.handlename %></p>
<% if @user == current_user %>
  <p>メールアドレス：<%= @user.email %></p>
<% end %>
<p>レベル：<%= @user.level %></p>
<p>いいねの数 → 下書き：<%= @draft_favorite_count %> , 線画：<%= @linedraw_favorite_count %>, 色塗り：<%= @color_favorite_count %>, 完成：<%= @finish_favorite_count %></p>


<% @posts.each do |post| %>
  <!--完成から順にイラスト画像を探し、画像を見つけたらそれをピックアップ、探すのをやめる-->
  <% post.illusts.reverse_each do |illust| %>
    <% if illust.illust_image.present? %>
      <%= link_to post_path(illust.post_id) do %>
        <!--リサイズ→真ん中を正方形にくり抜きます-->
        <p><%= image_tag illust.illust_image.variant(resize: "100x100").processed %></p>
      <% end %>
      <!--イラストの画像を探すeach文から抜ける-->
      <% break %>
    <% end %>
  <% end %>
  <i class="fas fa-tags"></i><%= post.tags.map(&:name).join(',') %>
  <%= link_to post_path(post) do %>
    <span><%= post.title %></span>
  <% end %>
<% end %>

<%= paginate @posts %>

