<header class="sticky-top background_yellow">
  <nav class="navbar navbar-yellow">
    <%= link_to root_path, method: :get do %>
      <%= image_tag image_url('Oekaki_icon.png'), size: "60x60" %>
    <% end %>

    <!--ユーザがサインインした場合-->
    <% if user_signed_in? %>
      <span>ようこそ！<%= current_user.handlename %> さん</span>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "マイページ", user_path(current_user.id), method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "作品投稿", new_post_path, method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "作品一覧", posts_path, method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
      <ul>
        <%= render "layouts/search" %>
      </ul>

      <!--＜管理者がログインした場合＞-->
    <% elsif admin_signed_in? %>
      <span>管理者でログインしています</span>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "ユーザ一覧", admin_users_path, method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "作品一覧", admin_posts_path, method: :get, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
      <ul>
        <%= render "layouts/search" %>
      </ul>

      <!--＜サインインしていない場合＞-->
    <% else %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", user_session_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>

  </nav>
</header>