<% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <div class="form-group d-flex flex-row">
        <%= f.text_field :word, class: "form-control" %>
        <%= button_tag type: "submit", class: "btn btn-secondary" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% elsif admin_signed_in? %>
  <div class="search_form">
    <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
      <div class="form-group d-flex flex-row">
        <%= f.text_field :word, class: "form-control" %>
        <%= button_tag type: "submit", class: "btn btn-secondary" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
